:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 36px !important;
}

a,
.whatsapp_signup__button:hover,
button:hover {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.graph-icon {
  font-size: 56px !important;
  color: #40df6d !important;
}

.about-section,
.faq-section,
.footer-section {
  max-width: 980px;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .img-thumbnail {
    width: 75% !important;
  }

  .faq-section {
    margin-inline: 12px;
  }
}
